/* src/styles.scss */

/* Reset básico e estilos do body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* É melhor colocar o overflow no html para evitar problemas com scrollbars */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #072b6e, #071e7c);
}



/* COMPONENTE DE FUNDO ANIMADO */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Garante que fique atrás de todo o conteúdo */
}

.background-animation span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
                0 0 0 8px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

.background-animation span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px); /* Aumentado para telas maiores */
        opacity: 0;
    }
}

// ... Regras para cada 'span' (nth-child) ...
.background-animation span:nth-child(1) { top: 0; right: 0; left: initial; animation-delay: 0; animation-duration: 1s; }
.background-animation span:nth-child(2) { top: 0; right: 80px; left: initial; animation-delay: 0.2s; animation-duration: 3s; }
.background-animation span:nth-child(3) { top: 80px; right: 0px; left: initial; animation-delay: 0.4s; animation-duration: 2s; }
.background-animation span:nth-child(4) { top: 0px; right: 180px; left: initial; animation-delay: 0.6s; animation-duration: 1.5s; }
.background-animation span:nth-child(5) { top: 0px; right: 400px; left: initial; animation-delay: 0.8s; animation-duration: 2.5s; }
.background-animation span:nth-child(6) { top: 0px; right: 600px; left: initial; animation-delay: 1s; animation-duration: 3s; }
.background-animation span:nth-child(7) { top: 300px; right: 0px; left: initial; animation-delay: 1.2s; animation-duration: 1.75s; }
.background-animation span:nth-child(8) { top: 0px; right: 700px; left: initial; animation-delay: 1.4s; animation-duration: 1.25s; }
.background-animation span:nth-child(9) { top: 0px; right: 1000px; left: initial; animation-delay: 0.75s; animation-duration: 2.25s; }
.background-animation span:nth-child(10) { top: 0px; right: 450px; left: initial; animation-delay: 2.75s; animation-duration: 2.25s; }
